In [9]:
import os
import pandas as pd

# Ruta al directorio que quieres explorar
directorio = 'images/anabelizam/'

# Obtener la lista de nombres de carpetas en el directorio
nombres_carpetas = [nombre for nombre in os.listdir(directorio) if os.path.isdir(os.path.join(directorio, nombre))]

# Crear un DataFrame con los nombres de las carpetas
df = pd.DataFrame({'Nombres de Carpetas': nombres_carpetas})

df.to_csv(f'carpetas.csv', index=False)

df

     Nombres de Carpetas
0    2436768575995168110
1    2439557980809959490
2    2440483800015457194
3    2440986872999405163
4    2450438511560929966
..                   ...
147  3214449321922421116
148  3215314788082039485
149  3215725947180861112
150  3219505326217530577
151  3223801041182854342

[152 rows x 1 columns]